h1, h2, h3, p, figure{
    margin: 0;
    padding: 0;
    /* this removes default margin/padding 
    from these elements. You might want to add
    a few others in here.*/   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    /* this sets images as block elements
    and makes sure they don't bust out of 
    their containers, and that they maintain
    their aspect ratio. */
}
    
nav ul {
    list-style-type: none;
    /* gets rid of bullets */
}

/* ----- */

.hidden {
    display: none;
}

html {
    overflow: hidden;

    background-color: #1a1a1a;
    color: #e6e6e6;
}

header {
    width: fit-content;
    
    text-shadow: 2px 2px #1a1a1a;
    
    position: absolute;
    z-index: 100;
    top: 1em;
    left: 33%;
}

main {
    max-width: 1200px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

/* #input {
    height: 100%;
    width: 100%;

    background: url(images/typewriter-paper.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: -28%;
    bottom: -8%;
} */

form {
    width: 20%;
    /* width: 15%; */

    color: #993C3C;
    text-shadow: 1px 1px #e6e6e6;

    display: flex;
    flex-direction: column;
    gap: 10px;

    /* position: absolute;
    z-index: 10;
    bottom: 75%;
    left: 44%; */

    position: absolute;
    z-index: 10;
    bottom: 65%;
    left: 17%;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > div > label {
    margin-left: auto;
    margin-right: auto;

    font-size: larger;
}

input {
    border-radius: 0;

    background: #FF6464;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.4  );
}

input[type="submit"] {
    background-color: #e6e6e6;

    cursor: pointer;
}

input[type="text"]:focus {
    border: 3px solid #993C3C;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(153, 60, 60, 0.8), 0 3px 10px 0 rgba(153, 60, 60, 0.8);
}

h1, h2, h3, label, input {
    font-family: Gloock;
}

strong {text-decoration: underline;}

#typewriter {
    width: 60%;

    filter: drop-shadow(-5px 5px black);

    position: absolute;
    bottom: -8%;
    left: -5%;
}

/* output */
#paper {
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
}

/* #output {
    height: 90%;
    width: 100%;

    background: url(images/paper.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    bottom: 0;
    right: -30%;
} */

#output > article {
    width: 33%;
    padding: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 2em;

    color: #1a1a1a;
    text-shadow: 1px 1px #1a1a1a;

    /* z-index: 10;
    bottom: 10%;
    right: 35%; */

    position: absolute;
    z-index: 10;
    bottom: 10%;
    right: 4%;
}

article strong {
    font-weight: bolder;

    color: #993C3C;
    text-shadow: 1px 1px #FF6464;
}