body {
    width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;

    font-family: "Raleway";
    font-size: 1em;
    color: #1a1a1a;

    background-color: #e6e6e6;
}

h1, h2, h3 {
    font-family: Gloock;
    margin: 0;
}

h1 {font-size: 4em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

hr {
    width: 100%;
    margin: 0;
    
    border: solid 5px #1a1a1a;
}

body > hr {
    margin-top: 1em;
}

main > hr {
    margin-bottom: 1em;
}

#topBar {
    display: flex;
    justify-content: space-between;
}

#bottomBar {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    font-family: Gloock;
    font-size: 1em;

    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

#prev {
    padding-right: 0.5em;
    border-right: solid 2.5px #1a1a1a;
}
#next {
    padding-left: 0.5em;
    border-left: solid 2.5px #1a1a1a;
}

.post {
    line-height: 1.5em;
}

figure {
    margin: 0;
}

figure img {
    border: solid 0.25em #1a1a1a;
}

figcaption {
    width: 33%;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: -7em;
}

.source {
    font-family: Gloock;
}

.text{
    width: 60%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}